<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hue.mapper.RobotDialogEmotionMapper">
    <resultMap id="RobotDialogEmotionResultMap" type="com.example.hue.dto.RobotDialogEmotion">
        <result column="NO" property="no" />
        <result column="ELDERLY_ID" property="elderlyId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MORNING_NIGHT_YN" property="morningNightYn" />
        <result column="GOOD_BAD_YN" property="goodBadYn" />
    </resultMap>

    <select id="findByElderlyIdAndDate" resultMap="RobotDialogEmotionResultMap">
        SELECT
            NO,
            ELDERLY_ID,
            CREATE_TIME,
            MORNING_NIGHT_YN,
            GOOD_BAD_YN
        FROM
            ROBOT_DIALOG_EMOTION
        WHERE elderly_id = #{elderlyId}
          AND TRUNC(create_time) = TO_DATE(#{date}, 'YYYY-MM-DD')
    </select>

</mapper>